<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"
             target="./build/coverage/html"
             lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <php>
        <env name="SENTRY_UAT_LOCATION" value="YOUR_UAT_URL"/>
        <env name="SENTRY_USER" value="YOUR_SENTRY_USERNAME"/>
        <env name="SENTRY_PASS" value="YOUR_ENCRYPTED_SENTRY_PASSWORD"/>
        <env name="SENTRY_ACCOUNT" value="A_SENTRY_ACCOUNT_ID"/>
    </php>
</phpunit>
